	<filter>

	    <filter-name>cors</filter-name>

	    <filter-class>egovframework.rte.tex.cros.SimpleCORSFilter</filter-class>   <-- 1번에서 만든 class 위치

	</filter>

	<filter-mapping>

	    <filter-name>cors</filter-name>

	    <url-pattern>/*</url-pattern> <-- 전체도메인 해당 (크로스 도메인을 적용하고 싶은 url pattern)

	</filter-mapping>

